services:
  postgres_db:
    image: postgres:15-alpine
    container_name: postgres_db
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  api_java_spring:
    build: .
    container_name: api_java_spring
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      - postgres_db
    restart: unless-stopped

volumes:
  postgres_data:
