version: '3.8'

services:
  postgres_db:
    image: postgres:15-alpine
    container_name: postgres_db
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - private_network

  api_java_spring:
    build: .
    container_name: api_java_spring
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      - postgres_db
    restart: unless-stopped
    networks:
      - public_network
      - private_network

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    env_file:
      - .env
    ports:
      - "5050:80"
    depends_on:
      - postgres_db
    restart: unless-stopped
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - private_network

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:80"
    depends_on:
      - api_java_spring
    networks:
      - public_network


networks:
  private_network:
    driver: bridge
  public_network:
    driver: bridge


volumes:
  postgres_data:
  pgadmin_data:
